*{
    box-sizing: border-box;
    transition: all .3s ease;
}

.master{
    margin-left: 25px;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 25px;
    white-space: normal
}

.rodape{
    padding-top: 6px;
    text-align: center;
    color: #ffffff;
    font-size: 80%;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #061d27;
}

ul{
    list-style: none;
}

.divCenter{
    align-content: center;
}

.imgCentral{
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#21517c), to(#061d27));; /* #21517c */
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.open-nav{
    display: none;
}

.texto{
    padding: 80px 0 0 0;
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c8 {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c0 {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Arial";
    font-style: normal
}

.c1 {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: italic
}

.c16 {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c17 {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 23pt;
    font-family: "Arial";
    font-style: normal
}

.c10 {
    color: #0000ff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: italic
}

.c2 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c20 {
    padding-top: 11pt;
    padding-bottom: 2pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c19 {
    padding-top: 24pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c9 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c18 {
    padding-top: 12pt;
    padding-bottom: 2pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c11 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c13 {
    color: #ffffff;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: italic
}

.c5 {
    color: #ffffff;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: italic
}

.c6 {
    background-color: #ffffff;
    max-width: 453.5pt;
    padding: 85pt 56.7pt 56.7pt 85pt
}

.c14 {
    font-size: 12pt;
    font-style: italic
}

.c12 {
    font-weight: 400;
    font-size: 11pt
}

.c4 {
    font-size: 12pt;
    font-weight: 700
}

.c15 {
    font-size: 12pt
}

.c7 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #ffffff;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #ffffff;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #ffffff;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #ffffff;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #ffffff;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #ffffff;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #ffffff;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #fffdfd;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

nav{
    width: 100%;
    max-width: 700px;
}

nav .list-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list-menu a{
    position: relative;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    padding-bottom: 5px;
}

nav .list-menu a:hover{
    color: #A0D6F3;
}

nav .list-menu a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #A0D6F3;
    transition: all .3s ease;

}

nav .list-menu a:hover::before{
    width: 100%;
    transition: all .3s ease;
}

/* Responsivo */
@media (max-width: 425px){
    nav{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: rgba(33, 81, 124, 0.83);
    }
    nav .list-menu{
        flex-direction: column;
        margin: 0;
        padding: 90px 0 0 0;
    }
    nav .list-menu a{
        display: block;
        margin-bottom: 20px;
    }
    .open-nav{
        position: relative;
        display: block;
        width: 50px;
        height: 40px;
        background: none;
        z-index: 3;
        border: none;
        outline-style: none;
    }
    .open-nav .line{
        position: absolute;
        width: 100%;
        height: 6px;
        background: #ffffff;
        left: 0;
        border-radius: 5px;
    }
    .open-nav .line.line_1{
        top: 0;
    }
    .open-nav .line.line_2{
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }
    .open-nav .line.line_3{
        bottom: 0;
    }
    nav.menu.active {
        left: 0;
    }
    .open-nav.open .line.line_1{
        transform: rotate(45deg);
        transform-origin: left;
    } 
    .open-nav.open .line.line_2{ 
        left: 100%;
        opacity: 0;
    }
    .open-nav.open .line.line_3{ 
        transform: rotate(-45deg);
        transform-origin: left;
    }
    .logo{
        z-index: 3;
    }

}

/* icones do rodapé */

.footer{
    background-color: #00000066;
    height: 30px;
    width: 100%;
}

.scl-icons {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    opacity: .85
}

.scl-icons li a:before {
    visibility: visible;
    height: 24px;
    width: 30px;
    content: '';
    display: inline-block;
}

.scl-icons .scl-facebook a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M23,12.073725 C23,5.96030998 18.0830126,1 12.0102986,1 L12,1 C5.92728597,1 1,5.96030998 1,12.073725 C1,17.6007959 5.03016748,22.1694418 10.2892957,23 L10.2892957,15.2726987 L7.47779049,15.2726987 L7.47779049,12.073725 L10.2892957,12.073725 L10.2915843,9.63388837 C10.2915843,6.85883339 11.923333,5.31982407 14.4361802,5.31982407 C15.6388224,5.31982407 16.8895246,5.55251859 16.8895246,5.55251859 L16.8895246,8.25960834 L15.5118069,8.25960834 C14.1455321,8.25960834 13.7084157,9.12126924 13.7084157,9.99675359 L13.7118485,12.073725 L16.7670862,12.073725 L16.2784771,15.2726987 L13.7118485,15.2726987 L13.7118485,23 C18.9709768,22.1694418 23,17.6007959 23,12.073725'/%3E%3C/g%3E%3C/svg%3E")
}

.scl-icons .scl-twitter a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M23,5.1046638 C22.1900726,5.46038162 21.3199026,5.70135176 20.4076585,5.81036206 C21.3409397,5.25574825 22.0552441,4.37697223 22.3918373,3.32894337 C21.5197549,3.84339549 20.5549181,4.21632547 19.5269701,4.41522145 C18.7046116,3.54696397 17.5303603,3 16.2337115,3 C13.7417742,3 11.722215,5.00904073 11.722215,7.48567827 C11.722215,7.83661494 11.7604642,8.17894554 11.8379189,8.50693267 C8.0894945,8.32046768 4.76468031,6.53518494 2.53857522,3.82235841 C2.15034555,4.48598253 1.92658756,5.25479202 1.92658756,6.07715043 C1.92658756,7.63198157 2.52040683,9.00417264 3.73195115,9.80836267 C2.9927848,9.7844569 2.44103968,9.58269222 1.48480897,9.24896771 L1.48480897,9.30538532 C1.48480897,11.4769853 3.24331725,13.2890425 5.30686313,13.7011779 C4.929152,13.8044508 4.63176425,13.8579997 4.21867258,13.8579997 C3.9298909,13.8579997 3.69848307,13.8312253 3.42117616,13.7776764 C3.99587082,15.5581779 5.68744295,16.8576955 7.66205937,16.893076 C6.11774677,18.0969705 4.18616073,18.8122311 2.0709784,18.8122311 C1.70761073,18.8122311 1.35380536,18.791194 1,18.7491198 C2.99852219,20.0218629 5.37188682,20.7638979 7.9211979,20.7638979 C16.219368,20.7638979 20.7595514,13.9306733 20.7595514,8.00395532 C20.7595514,7.81079671 20.7566827,7.61763811 20.7471204,7.42447951 C21.6297214,6.79336724 22.3956622,6.00256444 23,5.1046638'/%3E%3C/g%3E%3C/svg%3E")
}

.scl-icons .scl-linkedin a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M19.750875,13.2518611 C19.750875,10.0424583 17.7563611,8.94765278 15.9108056,8.94765278 C14.2042778,8.94765278 13.0871667,10.0519306 12.7670972,10.6987917 L12.7250833,10.6987917 L12.7250833,9.243125 L9.54409722,9.243125 L9.54409722,19.7502639 L12.8515833,19.7502639 L12.8515833,14.0536389 C12.8515833,12.5347222 13.8139306,11.7960417 14.7950694,11.7960417 C15.7236528,11.7960417 16.4435417,12.3182361 16.4435417,14.0114722 L16.4435417,19.7502639 L19.750875,19.7502639 L19.750875,13.2518611 Z M7.810375,5.88063889 C7.810375,4.78384722 6.95665278,3.98130556 5.90355556,3.98130556 C4.85045833,3.98130556 3.99658333,4.78384722 3.99658333,5.88063889 C3.99658333,6.97758333 4.85045833,7.77920833 5.90355556,7.77920833 C6.95665278,7.77920833 7.810375,6.97758333 7.810375,5.88063889 L7.810375,5.88063889 Z M4.24988889,19.7421667 L7.55722222,19.7421667 L7.55722222,9.23502778 L4.24988889,9.23502778 L4.24988889,19.7421667 Z M23.0006111,2.62402778 L23.0006111,21.3759722 C23.0006111,22.2729306 22.2735417,23.0001528 21.3767361,23.0001528 L2.62402778,23.0001528 C1.72706944,23.0001528 1,22.2729306 1,21.3759722 L1,2.62402778 C1,1.72706944 1.72706944,1 2.62402778,1 L21.3767361,1 C22.2735417,1 23.0006111,1.72706944 23.0006111,2.62402778 L23.0006111,2.62402778 Z'/%3E%3C/g%3E%3C/svg%3E")
}

.scl-icons .scl-youtube a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M22.54025,6.49845161 C23,8.28090323 23,12 23,12 C23,12 23,15.7189677 22.54025,17.5016774 C22.28725,18.4850323 21.541875,19.2594839 20.595125,19.5224516 C18.879625,20 12,20 12,20 C12,20 5.120375,20 3.40475,19.5224516 C2.458125,19.2594839 1.712625,18.4850323 1.459625,17.5016774 C1,15.7189677 1,12 1,12 C1,12 1,8.28090323 1.459625,6.49845161 C1.712625,5.51496774 2.458125,4.74051613 3.40475,4.47767742 C5.120375,4 12,4 12,4 C12,4 18.879625,4 20.595125,4.47767742 C21.541875,4.74051613 22.28725,5.51496774 22.54025,6.49845161 Z M9.9999625,16.000025 L15.9999625,12.0001779 L9.9999625,8.000025 L9.9999625,16.000025 Z'/%3E%3C/g%3E%3C/svg%3E")
}

.scl-icons .scl-instagram a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M11.9999782,1 C14.9874206,1 15.3619753,1.01266272 16.5352423,1.06619549 C17.7061077,1.11959725 18.5056933,1.30556465 19.205418,1.57750759 C19.9287652,1.85857642 20.5422088,2.23470301 21.153731,2.8462253 C21.765297,3.45779125 22.1413799,4.07123477 22.4224924,4.79453836 C22.6944353,5.49426307 22.8804027,6.29384865 22.9338045,7.46471407 C22.9873373,8.63798103 23,9.01257937 23,11.9999782 C23,14.9874206 22.9873373,15.362019 22.9338045,16.5352859 C22.8804027,17.7061077 22.6944353,18.5057369 22.4224924,19.205418 C22.1413799,19.9287652 21.765297,20.5422088 21.153731,21.153731 C20.5422088,21.765297 19.9287652,22.1413799 19.205418,22.4225361 C18.5056933,22.6944353 17.7061077,22.8804027 16.5352423,22.9338482 C15.3619753,22.9873373 14.9874206,23 11.9999782,23 C9.01257937,23 8.63793737,22.9873373 7.46471407,22.9338482 C6.29384865,22.8804027 5.49426307,22.6944353 4.79453836,22.4225361 C4.07123477,22.1413799 3.45774758,21.765297 2.8462253,21.153731 C2.23465935,20.5422088 1.85857642,19.9287216 1.57746392,19.205418 C1.30552099,18.5057369 1.11959725,17.7061077 1.06615182,16.5352859 C1.01261906,15.362019 1,14.9874206 1,11.9999782 C1,9.0125357 1.01261906,8.63798103 1.06615182,7.46471407 C1.11959725,6.29384865 1.30552099,5.49426307 1.57746392,4.79453836 C1.85857642,4.07123477 2.23465935,3.45779125 2.8462253,2.8462253 C3.45774758,2.23470301 4.07123477,1.85857642 4.79453836,1.57750759 C5.49426307,1.30556465 6.29384865,1.11959725 7.46471407,1.06619549 C8.63793737,1.01266272 9.01257937,1 11.9999782,1 Z M11.9999782,2.98197844 C9.06283728,2.98197844 8.71496166,2.99315657 7.55501239,3.04607803 C6.48256692,3.09502601 5.90008157,3.2742254 5.5124712,3.42486816 C4.9990632,3.62441524 4.63258647,3.86278012 4.2476833,4.24772696 C3.86278012,4.63263014 3.62437158,4.9990632 3.4248245,5.51251486 C3.2742254,5.90012524 3.09502601,6.48256692 3.04607803,7.55505606 C2.99315657,8.71496166 2.98197844,9.06288095 2.98197844,11.9999782 C2.98197844,14.9371191 2.99315657,15.2850383 3.04607803,16.4449439 C3.09502601,17.5174331 3.2742254,18.0998748 3.4248245,18.4874851 C3.62437158,19.0008931 3.86278012,19.3673699 4.2476833,19.752273 C4.63258647,20.1372199 4.9990632,20.3755848 5.5124712,20.5751318 C5.90008157,20.7257309 6.48256692,20.904974 7.55505606,20.9538783 C8.71478701,21.0067998 9.06261896,21.0180216 11.9999782,21.0180216 C14.9373374,21.0180216 15.2851693,21.0067998 16.4449003,20.9538783 C17.5173894,20.904974 18.0998311,20.7257309 18.4874415,20.5751318 C19.0008931,20.3755848 19.3673699,20.1372199 19.752273,19.752273 C20.1371762,19.3673699 20.3755411,19.0008931 20.5751318,18.4874851 C20.7257309,18.0998748 20.9049303,17.5174331 20.9538783,16.4449003 C21.0067561,15.2850383 21.0179779,14.9371191 21.0179779,11.9999782 C21.0179779,9.06288095 21.0067561,8.71496166 20.9538783,7.55505606 C20.9049303,6.48256692 20.7257309,5.90012524 20.5751318,5.51251486 C20.3755411,4.9990632 20.1371762,4.63263014 19.752273,4.2476833 C19.3673699,3.86278012 19.0008931,3.62441524 18.4874415,3.42486816 C18.0998311,3.2742254 17.5173894,3.09502601 16.4449003,3.04607803 C15.2849947,2.99315657 14.9371191,2.98197844 11.9999782,2.98197844 Z M11.9999782,15.6666667 C14.0250099,15.6666667 15.6666667,14.0250099 15.6666667,11.9999782 C15.6666667,9.97494646 14.0250099,8.33333333 11.9999782,8.33333333 C9.97494646,8.33333333 8.33328967,9.97494646 8.33328967,11.9999782 C8.33328967,14.0250099 9.97494646,15.6666667 11.9999782,15.6666667 Z M11.9999782,6.35135489 C15.1196369,6.35135489 17.6486014,8.88031939 17.6486014,11.9999782 C17.6486014,15.1196806 15.1196369,17.6486451 11.9999782,17.6486451 C8.88031939,17.6486451 6.35131123,15.1196806 6.35131123,11.9999782 C6.35131123,8.88031939 8.88031939,6.35135489 11.9999782,6.35135489 Z M19.191799,6.12817655 C19.191799,6.85720019 18.6008427,7.44815646 17.8718191,7.44815646 C17.1427954,7.44815646 16.5517955,6.85720019 16.5517955,6.12817655 C16.5517955,5.39915291 17.1427954,4.80819663 17.8718191,4.80819663 C18.6008427,4.80819663 19.191799,5.39915291 19.191799,6.12817655 Z'/%3E%3C/g%3E%3C/svg%3E")
}

.scl-icons .scl-youku a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M15.4,9.6L10,6C9.7,5.8,9.4,5.7,9.1,5.7C8.5,5.7,8,6,7.6,6.4C7.1,7.2,7.3,8.3,8.1,8.8l3.3,2.2l-3.3,2.2 c-0.8,0.5-1,1.6-0.5,2.4c0.5,0.8,1.6,1,2.4,0.5c0,0,4.8-3.2,5.2-3.5c0.6-0.5,0.9-1,0.9-1.5S16,10.1,15.4,9.6z M11,0.1C4.9,0.1,0,5,0,11S4.9,22,11,22C17,22,22,17.1,22,11S17,0.1,11,0.1z M11,18.5c-4.2,0-7.5-3.4-7.5-7.5 S6.8,3.5,11,3.5s7.5,3.4,7.5,7.5S15.1,18.5,11,18.5z'/%3E%3C/g%3E%3C/svg%3E")
}

.scl-icons .scl-weibo a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M17.495425,11.62605 C17.1863625,11.5321125 16.9742375,11.4714875 17.1348,11.0654875 C17.4863,10.1837375 17.522675,9.4232375 17.1408625,8.8778 C16.4288625,7.8597375 14.47755,7.9142375 12.2413625,8.85055 C12.2413625,8.85055 11.5383625,9.15655 11.720175,8.6021125 C12.06255,7.4961125 12.01105,6.5719875 11.4778,6.035675 C10.2658,4.8206125 7.0388,6.0811125 4.272425,8.8474875 C2.202925,10.9169875 0.9999875,13.1137375 0.9999875,15.0136125 C0.9999875,18.64355 5.6571125,20.8524875 10.2112375,20.8524875 C16.183425,20.8524875 20.1557425,17.38305 20.1557425,14.6287375 C20.1588,12.9622375 18.755925,12.0168625 17.495425,11.62605 M10.226425,19.54955 C6.590425,19.91005 3.4513,18.2648 3.214925,15.880175 C2.9786125,13.49255 5.735925,11.2684875 9.368925,10.907925 C13.004925,10.5473625 16.14405,12.192675 16.3773,14.5772375 C16.616675,16.964925 13.8593625,19.1919875 10.226425,19.54955 M21.4616687,4.98121875 C22.9039812,6.57803125 23.2948562,8.75659375 22.6767312,10.6624687 L22.6767312,10.6655312 C22.5342937,11.1049062 22.0616687,11.3472812 21.6192312,11.2049062 C21.1768562,11.0624687 20.9344187,10.5897812 21.0769187,10.1474062 C21.5162312,8.78990625 21.2374812,7.24165625 20.2132937,6.10534375 C19.1892312,4.96909375 17.6771687,4.53584375 16.2804187,4.83278125 C15.8258562,4.92971875 15.3804187,4.64184375 15.2834812,4.18734375 C15.1865437,3.73590625 15.4743562,3.28740625 15.9289187,3.19046875 C17.8923562,2.77234375 20.0194187,3.38134375 21.4616687,4.98121875 Z M19.2467625,6.98103125 C19.9497,7.75971875 20.137575,8.82021875 19.837575,9.75046875 C19.7133875,10.1322188 19.3073875,10.3382813 18.925575,10.2170938 C18.5437625,10.0928438 18.3377625,9.68378125 18.45895,9.30503125 C18.60745,8.85053125 18.5135125,8.33240625 18.171075,7.95065625 C17.8287625,7.57190625 17.3196375,7.42640625 16.8530125,7.52646875 C16.4652,7.61128125 16.0803875,7.36278125 15.9955125,6.97190625 C15.9137625,6.58109375 16.1621375,6.19321875 16.5530125,6.11140625 C17.5075125,5.90540625 18.5437625,6.20234375 19.2467625,6.98103125 Z M10.586975,12.744125 C12.3776625,13.2076875 13.2927875,14.8954375 12.5595375,16.5376875 C11.8171625,18.2133125 9.6840375,19.110125 7.8721,18.525375 C6.1267875,17.96175 5.3844125,16.2346875 6.1510375,14.6803125 C6.902475,13.1561875 8.85685,12.292625 10.586975,12.744125 Z M9.26585,16.7134375 C9.6112875,16.1468125 9.429475,15.5014375 8.85985,15.256 C8.2962875,15.019625 7.5690375,15.2620625 7.2206,15.8075 C6.8691625,16.355875 7.0357875,17.007375 7.59335,17.261875 C8.1599125,17.519375 8.9144125,17.274 9.26585,16.7134375 Z M10.4264125,15.22875 C10.5476,15.0075625 10.4687875,14.762125 10.2506625,14.6833125 C10.035475,14.5985 9.76585,14.7015 9.6386,14.913625 C9.51435,15.1256875 9.580975,15.371125 9.7991625,15.459 C10.01735,15.5499375 10.2991,15.446875 10.4264125,15.22875 Z'/%3E%3C/g%3E%3C/svg%3E")
}

.scl-icons .scl-wechat a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M20.7108944,18.7922849 C20.5989826,18.8719797 20.5260704,19.0042391 20.5260704,19.1517592 C20.5260704,19.2009326 20.5345485,19.2484103 20.5481136,19.2924968 C20.6600254,19.7096227 20.838067,20.3777024 20.8465451,20.4065282 C20.8618058,20.4590928 20.8821535,20.5150487 20.8821535,20.5676134 C20.8821535,20.689699 20.7838067,20.7897414 20.6617211,20.7897414 C20.6142433,20.7897414 20.5752437,20.7710894 20.5345485,20.7473506 L19.0830861,19.9097075 C18.9745655,19.8469691 18.8592624,19.8096651 18.7320899,19.8096651 C18.6642645,19.8096651 18.5981348,19.8181433 18.537092,19.8384909 C17.8588385,20.0317931 17.129716,20.1403137 16.3717677,20.1403137 C12.7142857,20.1403137 9.74692666,17.6680797 9.74692666,14.6176346 C9.74692666,11.5688851 12.7142857,9.09665112 16.3717677,9.09665112 C20.0343366,9.09665112 23,11.5688851 23,14.6176346 C23,16.2844426 22.1080967,17.7799915 20.7108944,18.7922849 Z M14.1640526,13.735905 C14.6523951,13.735905 15.0491734,13.3391267 15.0491734,12.8507842 C15.0491734,12.3624417 14.6523951,11.9690547 14.1640526,11.9690547 C13.6774057,11.9690547 13.2806274,12.3624417 13.2806274,12.8507842 C13.2806274,13.3391267 13.6774057,13.735905 14.1640526,13.735905 Z M18.5828741,13.735905 C19.0712166,13.735905 19.4662993,13.3391267 19.4662993,12.8507842 C19.4662993,12.3624417 19.0712166,11.9690547 18.5828741,11.9690547 C18.0945316,11.9690547 17.6994489,12.3624417 17.6994489,12.8507842 C17.6994489,13.3391267 18.0945316,13.735905 18.5828741,13.735905 Z M8.95252226,3 C12.9203052,3 16.2064434,5.42136499 16.8066978,8.58711318 C16.6625689,8.58033065 16.5201357,8.57524375 16.3743111,8.57524375 C12.3692242,8.57524375 9.12208563,11.2814752 9.12208563,14.6184824 C9.12208563,15.1814328 9.21534549,15.7257312 9.38999576,16.2428995 C9.24417126,16.2479864 9.09834676,16.2513777 8.95252226,16.2513777 C8.0453582,16.2513777 7.16701992,16.1242052 6.35650699,15.8902077 C6.28359474,15.8664688 6.20389996,15.8545994 6.12250954,15.8545994 C5.96820687,15.8545994 5.83086053,15.9020772 5.70029674,15.976685 L3.96057652,16.9821958 C3.9097075,17.009326 3.86392539,17.0313692 3.80627384,17.0313692 C3.66044934,17.0313692 3.54175498,16.9126749 3.54175498,16.7668504 C3.54175498,16.7007206 3.56549385,16.6345909 3.58414582,16.5718525 C3.59431963,16.5328529 3.80966511,15.735905 3.94362018,15.2356931 C3.95888088,15.1797372 3.97075032,15.1254769 3.97075032,15.0678253 C3.97075032,14.8897838 3.88257736,14.7320899 3.7486223,14.6354387 C2.06994489,13.421365 1,11.6239932 1,9.62653667 C1,5.96735905 4.55913523,3 8.95252226,3 Z M6.30224671,8.56676558 C6.88554472,8.56676558 7.3620178,8.09198813 7.3620178,7.50529886 C7.3620178,6.92030521 6.88554472,6.44552777 6.30224671,6.44552777 C5.71555744,6.44552777 5.24247563,6.92030521 5.24247563,7.50529886 C5.24247563,8.09198813 5.71555744,8.56676558 6.30224671,8.56676558 Z M11.6011022,8.56676558 C12.1877914,8.56676558 12.6625689,8.09198813 12.6625689,7.50529886 C12.6625689,6.92030521 12.1877914,6.44552777 11.6011022,6.44552777 C11.0178042,6.44552777 10.5413311,6.92030521 10.5413311,7.50529886 C10.5413311,8.09198813 11.0178042,8.56676558 11.6011022,8.56676558 Z'/%3E%3C/g%3E%3C/svg%3E")
}

.scl-icons .scl-otube a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M12.5,4.5 L22.5,19.5 L2.5,19.5 L12.5,4.5 Z M12.5,8.10555128 L6.23703418,17.5 L18.7629658,17.5 L12.5,8.10555128 Z' transform='rotate(90 13 12.5)'/%3E%3C/g%3E%3C/svg%3E")
}

.scl-icons .scl-github a:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill-rule='evenodd' viewBox='0 0 25 30'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M12.1984125,1 C6.01435,1 0.999725,6.0139375 0.999725,12.2000625 C0.999725,17.1473125 4.2082875,21.3445 8.6591625,22.8260625 C9.219475,22.9285 9.4236625,22.5826875 9.4236625,22.2856875 C9.4236625,22.0203125 9.4140375,21.315625 9.4085375,20.3813125 C6.293475,21.0578125 5.636225,18.8798125 5.636225,18.8798125 C5.1267875,17.5859375 4.3925375,17.2421875 4.3925375,17.2421875 C3.375725,16.547125 4.4695375,16.560875 4.4695375,16.560875 C5.5936,16.640625 6.18485,17.7151875 6.18485,17.7151875 C7.1837875,19.426375 8.8056,18.9320625 9.4442875,18.6460625 C9.5460375,17.922125 9.8347875,17.4285 10.1551625,17.1486875 C7.668475,16.866125 5.0539125,15.905 5.0539125,11.613625 C5.0539125,10.39125 5.490475,9.391625 6.20685,8.6085625 C6.09135,8.3253125 5.7070375,7.1868125 6.3161625,5.64475 C6.3161625,5.64475 7.2566625,5.343625 9.3961625,6.792875 C10.289225,6.544 11.2476,6.42025 12.1997875,6.4154375 C13.1506,6.42025 14.108975,6.544 15.0034125,6.792875 C17.1415375,5.343625 18.079975,5.64475 18.079975,5.64475 C18.6911625,7.1868125 18.30685,8.3253125 18.19135,8.6085625 C18.9091,9.391625 19.3429125,10.39125 19.3429125,11.613625 C19.3429125,15.916 16.724225,16.8626875 14.2292875,17.13975 C14.631475,17.4855625 14.9896625,18.1689375 14.9896625,19.2139375 C14.9896625,20.710625 14.9759125,21.9185625 14.9759125,22.2856875 C14.9759125,22.5854375 15.17735,22.934 15.7459125,22.8246875 C20.191975,21.340375 23.398475,17.1459375 23.398475,12.2000625 C23.398475,6.0139375 18.38385,1 12.1984125,1'/%3E%3C/g%3E%3C/svg%3E")
}
